.registerPage {
  display: flex;
  height: 100vh;
  margin: auto;
  width: 100%;
  /* border-radius: 10px; */
  /* overflow: hidden; */
}

.container {
  display: flex;
  height: 75vh;
  width: 60%;
  margin: auto;
  justify-content: space-between;
  border-radius: 10px;
  background-color: rgba(229, 229, 229, 0.702);
  box-shadow: 0 7px 20px rgb(117, 117, 117);
}

.form-box {
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
  margin: auto;
  gap: 1rem;
  /* transform: translateY(-1rem); */
}

.form {
  gap: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icon {
  color: grey;
}

.input input {
  background: none;
  outline: none;
  border: none;
  width: 200px;
  padding-left: 0.5rem;
}
.inputDiv label {
  font-weight: 500;
  font-size: 14px;
  padding: 0.5rem 0;
  display: block;
}

.input {
  display: flex;
  align-items: center;
  padding: 1rem;
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
}
.header {
  text-align: center;
  padding: 1rem 0;
}

.header img {
  width: 60px;
  padding-bottom: 1rem;
}

.header h3 {
  font-size: 25px;
  font-weight: 600;
}

.register-icon {
  color: grey;
  margin-left: 5px;
  font-size: 25px;
}

.register-btn {
  display: flex;
  align-items: center;
}

.video {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 100%;
  text-align: center;
  justify-content: center;
  align-items: center;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  overflow: hidden;
  object-fit: cover;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.video video,
.footer {
  position: absolute;
}

.text {
  color: white;
  position: relative;
}

.title {
  color: white;
  font-size: 35px;
  font-weight: 800;
}

.footer {
  width: 95%;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  bottom: 10px;
  padding: 0 0.5rem;
  height: 60px;
  background-color: rgba(255, 255, 255, 0.24);
  backdrop-filter: blur(1px);
}

.btn {
  padding: 0.8rem 1rem;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  color: white;
  background-color: rgba(0, 170, 0, 0.534);
}

.btn:hover {
  background-color: rgba(0, 170, 0, 0.758);
}

.text p {
  font-weight: 400;
  margin-top: 1rem;
}
